<div class="map-root">
  <div #mapEl class="map-canvas"></div>

  <app-geocoder
    class="panel panel--top-center"
    (selected)="onGeocoderSelected($event)"
  />

  <app-layer-control
    class="panel panel--top-left"
    [layerVisibility]="layerVisibility()"
    [activeBasemap]="activeBasemap()"
    [basemaps]="basemaps"
    [censusMetric]="censusMetric()"
    (layerToggle)="onLayerToggle($event)"
    (basemapChange)="onBasemapChange($event)"
    (censusMetricChange)="onCensusMetricChange($event)"
  />

  <app-stack-info class="panel panel--top-right" />

  @if (selectedFeature()) {
    <app-feature-panel
      class="panel panel--bottom-right"
      [feature]="selectedFeature()!"
      [isSubjectProperty]="selectedFeature()?.id === subjectPropertyId()"
      (setSubjectProperty)="onSetSubjectProperty()"
    />
  }
</div>
